
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;1,400;1,600&display=swap');


:root {
    --font: 'Raleway', sans-serif;
    --color-font: #000000;
    --color-primario: #FFFF;
    --color-secundario: #232332;
    --color-teciario: #ebb52f;
    /* --color-font-black: #ffffff;
    --color-primario-black: 'red';
    --color-secundario-black: 'green';
    --color-teciario-black: 'as'; */
}

body {
    font-family: var(--font);
}